<form method="get" action="/search">
  <input size="40%" type="text" name="q" id="q" value="<%= query %>"/>
  <input type="submit" value="Искать"/>
  <br/>
  Цена до <input class="price" type="text" name="price_to" value="<%= price_to %>"/> руб.
</form>