<div style="white-space:pre-wrap;"><span class="highlight">Описание</span>: <br><%= ad.desc %></div>
<div><span class="highlight">Тэги</span>: <%= render :partial => "partials/tags", :locals => {:tags => ad.tags} %></div>
<div><span class="highlight">Цена</span>: <%= ad.price %></div>
